<section class="section">
    <div class="container">
        <h1 class="title is-1">Acknowledgement</h1>
    </div>
</section>
<section class="section py-3">
    <div class="container content">
        <h4 class="title is-4">What are smoke signals?</h4>
        <p>
            From the Wikipedia page for smoke signal, a smoke signal is one of the oldest forms of long-distance
            communication. It is a form of visual communication used over long distance. It can be used to transmit
            news, signal danger, or to gather people to a common area.
        </p>
    </div>
</section>
<section class="section py-3">
    <div class="container content">
        <h4 class="title is-4">Why the name?</h4>
        <p>
            The Bluesky Social social network platform uses terminology for open, blue skies. There is a trend to create
            websites, tools, software development kits, and applications with names that draw on the concept of "blue
            skies".
        </p>
        <p>
            Smoke signals have been shown to play a substanial role in basic communication across many cultures and
            civiliations. With the purpose of providing a means to allow people on the larger Bluesky Social platform
            the ability to create events and facilitate communication around those events, "Smoke Signal Events" felt
            very appropriate.
        </p>
    </div>
</section>
<section class="section py-3">
    <div class="container content">
        <h4 class="title is-4">Land Acknowledgement</h4>
        <p>
            The name "Smoke Signal" borrows from language and concepts that originate from indigenous people.
        </p>
        <p>
            This web application was developed by people that live in southern Ohio in the United States of America,
            specifically in the traditional homelands of the Myaamia and Shawnee people. Those people were forceably
            removed from their homeland. Colonialism is ongoing and directly and indrectly affects all of us.
        </p>
    </div>
</section>
<section class="section py-3">
    <div class="container content">
        <h4 class="title is-4">Learning More</h4>
        <ul>
            <li><a href="https://en.wikipedia.org/wiki/Miami_people">https://en.wikipedia.org/wiki/Miami_people</a></li>
            <li><a href="https://native-land.ca/maps/territories/miami/">
                    https://native-land.ca/maps/territories/miami/
                </a>
            </li>
            <li><a href="https://www.miamiindians.org/">https://www.miamiindians.org/</a></li>
            <li><a href="https://urbannativecollective.org/">https://urbannativecollective.org/</a></li>
            <li><a href="https://www.midstory.org/the-forgotten-history-of-ohios-indigenous-peoples">
                    https://www.midstory.org/the-forgotten-history-of-ohios-indigenous-peoples
                </a>
            </li>
        </ul>
    </div>
</section>