{% extends "base.en-us.html" %}
{% block title %}Event Record - Smoke Signal Admin{% endblock %}
{% block head %}
<style>
    pre {
        white-space: pre-wrap;
        overflow: auto;
        max-height: 70vh;
    }
</style>
{% endblock %}
{% block content %}
<section class="section">
    <div class="container">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="/admin">Admin</a></li>
                <li><a href="/admin/events">Events</a></li>
                <li class="is-active"><a href="#" aria-current="page">Event Record</a></li>
            </ul>
        </nav>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="content">
            <h1 class="title">Event Record</h1>
            <div class="box">
                <pre><code>{{ event_json }}</code></pre>
            </div>
        </div>
    </div>
</section>
{% endblock %}