{% from "form_include.html" import text_input %}
<section class="section is-fullheight">
  <div class="container ">

    <div class="box content">

      <h1>Create RSVP</h1>

      <article class="message is-info">
        <div class="message-body">
          <p>
            RSVPs are public and can be viewed by anyone that can view the information stored in your PDS.
          </p>
          <p>
            Learn more about rsvps on the
            <a href="https://docs.smokesignal.events/docs/help/events/" rel="help">
              RSVP Help
            </a>
            page.
          </p>
        </div>
      </article>

      {% include 'create_rsvp.en-us.partial.html' %}

    </div>

  </div>
</section>