<footer class="footer">
        <div class="container content has-text-centered">
            <p>
                <strong>Smoke Signal Events</strong> made by <a href="https://ngerakines.me/">Nick Gerakines</a>
                (<a href="https://github.com/ngerakines">Source Code</a>)
            </p>
            <nav class="level">
                <div class="level-item has-text-centered">
                    <a href="https://docs.smokesignal.events/">Support</a>
                </div>
                <div class="level-item has-text-centered">
                    <a href="/privacy-policy" hx-boost="true">Privacy Policy</a>
                </div>
                <div class="level-item has-text-centered">
                    <a href="/cookie-policy" hx-boost="true">Cookie Policy</a>
                </div>
                <div class="level-item has-text-centered">
                    <a href="/terms-of-service" hx-boost="true">Terms of Service</a>
                </div>
                                <div class="level-item has-text-centered">
                    <a href="/acknowledgement" hx-boost="true">Acknowledgement</a>
                </div>
            </nav>
        </div>
</footer>